.left-of-charts {
    display: flex;
    border-right: 1px solid black;
    flex-wrap: wrap;
}

.main-wrap {
    display: flex;
    float: bottom;
}

.everything {
    flex-direction: row;
}

.left {
    border-right: 1px solid black;
    width: 50%;
    padding: 10px;
    margin-left: 10px;
}

.right {
    width: 50%;
    padding: 10px;
    margin-left: 10px;
    border-right: 1px solid black;
}

#photos {
    display: flex;
    text-align: center;
    padding-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.image {
    flex-wrap: wrap;
    display: inline-block;
    flex: 1 30%;
}

.link {
    color: black;
}

.chart {
    width: 400px;
    height: 250px;
    float: right;
}

#myProgress {
  width: 100%;
  background-color: lightblue;
  border: 1px solid black;
  border-collapse: collapse;
}

#myBar {
  width: 70%;
  height: 30px;
  background-color: darkgreen;
}
#myBar2 {
  width: 40%;
  height: 30px;
  background-color: indianred;
}

#myBar3 {
  width: 70%;
  height: 30px;
  background-color: orange;
}
#myBar4 {
  width: 40%;
  height: 30px;
  background-color: blueviolet;
}

#p1 {
    color: darkgreen;
}

#p2 {
    color: indianred;
    margin-left: 10px;
}

#p3 {
    color: orange;
}

#p4 {
    color: blueviolet;
    margin-left: 10px;
}